<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Site Check</title>
    <style>
.offline {
    color: red
}
.online {
    color: green
}
.unknown {
    color: gray
}
    </style>
  </head>
  <body>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>

    <table>
      {{range .}}
      <tr>
	<td>{{.Name}}</td>
	<td>{{if eq .Type "website"}}<a href="{{.URL}}">{{.URL}}</a>{{else}}{{.URL}}{{end}}</td>
	<td id="{{.Hash}}" class="{{.Status}}"></td>
      </tr>
      {{end}}
    </table>

    <script type="text/javascript">
function pull() {
    $.ajax({
	type: "GET",
	url: "/status",
	dataType: "json",
	cache: false,
	success: updater,
    });
}

function updater(response, success) {
    var items = [];
    var again = 0;

    for (var x = 0; x < response.length; x++) {
	var resp = response[x];
	var status = $("#"+resp.hash);

	if (status.length > 0 && resp.status != "unknown") {
	    status.text(resp.status).attr('class', resp.status);
	}

	if (resp.status == "unknown") {
	    again = 1;
	}
    }

    if (again) {
	window.setTimeout(pull, 1000);
    }
}

window.setTimeout(pull, 500);
    </script>
  </body>
</html>
