<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Site Check</title>
    <style>
div.sitecheck {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: wrap;
    flex-wrap: wrap;
    width: 150px;
}
div.site {
    margin: 2px;
    min-width: 25px;
    min-height: 25px;
    width: 25px;
    height: 25px;
}
div.first {
    -webkit-flex: initial;
    flex: initial;
}
div.rest {
    -webkit-flex: none;
    flex: none;
}
div.offline {
    background-color: red;
}
div.online {
    background-color: green;
}
div.unknown {
    background-color: #dddddd;
}
    </style>
  </head>
  <body>
    <div class="sitecheck">
      {{range $index, $element := .}}
      <div id="{{.Hash}}" title="{{.Name}}: {{.URL}}" url="{{.URL}}" class="unknown site{{if eq $index 0}} first{{else}} rest{{end}}"></div>
      {{end}}
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>

    <script type="text/javascript">
function pull() {
    $.ajax({
	type: "GET",
	url: "/status",
	dataType: "json",
	cache: false,
	success: updater,
    });
}

function updater(response, success) {
    var items = [];
    var again = 0;

    for (var x = 0; x < response.length; x++) {
	var resp = response[x];
	var status = $("#"+resp.hash);

	if (resp.status != "unknown") {
	    status.removeClass("unknown");
	    status.removeClass("online");
	    status.removeClass("offline");
	    status.addClass(resp.status);
	}

	if (resp.status == "unknown") {
	    again = 1;
	}
    }

    if (again) {
	window.setTimeout(pull, 1000);
    }

    window.setTimeout(pull, 600000);
}

window.setTimeout(pull, 500);

$("div.site").click(function(evt) {
    location.href=$(this).attr("url");
});
    </script>
  </body>
</html>
